.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto 0;
  padding: 48px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .page {
    padding: 24px 0 0;
  }
}
