.places__image {
  width: 50%;
  height: 534px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s;
}

@media screen and (max-width: 900px) {
  .places__image {
    height: 390px;
  }
}

@media screen and (max-width: 600px) {
  .places__image {
    width: 100%;
  }
}

.places__image:hover {
  transform: scale(1.1);
}
