.places__image {
  width: 50%;
  height: 534px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 5px transparent;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}

.places__image:hover {
  box-shadow: 0 0 10px #000000dd;
}

@media screen and (max-width: 900px) {
  .places__image {
    height: 390px;
  }
}

@media screen and (max-width: 600px) {
  .places__image {
    width: 100%;
  }
}
