.header {
  margin: 0;
  padding: 6px 68px;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  z-index: 1000;
  top: 0;
  background: linear-gradient(180deg, #fff 80%, transparent);
}

@media screen and (max-width: 900px) {
  .header {
    padding: 6px 34px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 6px 15px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0;
    background: transparent;
  }
}
