.header {
  margin: 0;
  padding: 0 68px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 0 34px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 15px 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
