.header__link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  text-decoration-line: none;
  color: black;
  transition: opacity 0.3s;
}

.header__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
  .header__link {
    text-align: center;
    font-size: 24px;
  }
}
