.intro {
  padding: 78px 0 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 55px 0 90px;
    margin-bottom: 42px;
  }

  .intro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff 42%, transparent, #fff 97%);
    z-index: -1;
  }
}
