.intro {
  margin: 85px 0 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 55px 0 90px;
  }
}
