.footer {
  background-color: #f8cda7;
  min-height: 620px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .footer {
    min-height: 350px;
  }
}
