.intro__content {
  margin-left: 68px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 900px) {
  .intro__content {
    margin-left: 34px;
    gap: 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro__content {
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .intro__content {
    margin: 0;
    padding: 24px;
    padding-bottom: 30px;
    box-sizing: border-box;
    gap: 14px;
  }
}
