.places__item {
  display: flex;
  width: 100%;
}

.places__item:nth-child(2n) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
  .places__item {
    box-shadow: 0 -5px 5px #0004;
    flex-direction: column;
  }

  .places__item:nth-child(2n) {
    flex-direction: column;
  }
}
